ul {
    list-style: decimal;
    padding-left: 16px;
    margin-bottom: 8px;
}

.canvas-container {
    position: relative;
    width: 800px;
}

.menu-container {
    position: absolute;
}

.menu-content {
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    width: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 30px);
    gap: 8px;
    padding: 8px;
}

.color-point {
    cursor: pointer;
    border: 1px solid grey;
    height: 20px;
}